@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
    --nhentai: #ed2553;
}

@layer utilities {
    /* 针对特定按钮的样式扩展 */
    #scroll-mode.btn.btn-primary {
        @apply ml-0! border-[#4caf50]! bg-[#4caf50]!;
    }

    #scroll-mode.btn.btn-primary:hover {
        @apply border-[#388e3c]! bg-[#388e3c]!;
    }

    #scroll-mode.btn.btn-primary .fa {
        @apply mr-[5px];
    }
}

@layer components {
    .page-indicator {
        @apply fixed top-32 right-5 z-50 rounded-sm bg-gray-600 px-5 py-1;
    }

    .border-nhentai {
        @apply border-t-4 border-solid;
        border-top-color: var(--nhentai);
    }

    .image-placeholder {
        @apply mx-auto flex items-center justify-center bg-[#2a2a2a];
    }

    .nhentai-image {
        @apply mx-auto block h-[90vh] w-auto object-contain;
    }

    /* 当屏幕宽 > 高（横屏状态） */
    @media (min-aspect-ratio: 1/1) {
        .image-placeholder {
            @apply h-[90vh] w-[calc(90vh*64/91)];
        }
        .nhentai-image {
            @apply h-[90vh] w-auto;
        }
    }

    /* 当屏幕宽 < 高（竖屏状态） */
    @media (max-aspect-ratio: 1/1) {
        .image-placeholder {
            @apply h-[calc(90vw*91/64)] w-[90vw];
        }
        .nhentai-image {
            @apply h-auto w-[90vw];
        }
    }

    .gallery,
    .thumb-container {
        @apply lg:relative lg:z-1 lg:transition-transform lg:duration-300 lg:ease-in-out;
    }

    /* 悬停效果（仅大屏生效） */
    .gallery:hover,
    .thumb-container:hover {
        @apply lg:z-50 lg:scale-130;
    }

    /* 子元素 caption 样式（仅大屏生效） */
    .caption {
        @apply lg:bg-black/70 lg:p-2 lg:transition-all lg:duration-300 lg:ease-in-out;
    }
}
