@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
    --nhentai: #ed2553;
}

@layer utilities {
    /* 针对特定按钮的样式扩展 */
    #scroll-mode.btn.btn-primary {
        @apply !ml-0; /* Tailwind 工具类加 ! 前缀 */
        background-color: #4caf50 !important; /* 自定义属性用 !important 关键字 */
        border-color: #4caf50 !important;
    }

    #scroll-mode.btn.btn-primary:hover {
        background-color: #388e3c !important;
        border-color: #388e3c !important;
    }

    #scroll-mode.btn.btn-primary .fa {
        @apply mr-[5px]; /* 这个不需要 !important */
    }
}

@layer components {
    .page-indicator {
        @apply fixed top-32 right-5 bg-gray-600 rounded-sm px-5 py-1;
    }

    .border-nhentai {
        border-width: 3px;
        border-top-color: var(--nhentai);
        border-style: var(--tw-border-style);
    }

    .image-placeholder {
        @apply w-[calc(90vh*64/91)] h-[90vh] bg-[#2a2a2a] mx-auto flex items-center justify-center;
    }

    .gallery,
    .thumb-container {
        position: relative;
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }

    .gallery:hover,
    .thumb-container:hover {
        transform: scale(1.3);
        z-index: 100;
    }

    .caption {
        transition: all 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 8px;
    }

    .gallery:hover .caption,
    .thumb-container:hover .caption {
        background-color: rgba(0, 0, 0, 0.7); /* 保持一致性 */
    }
}
